*{
    @media screen {
        iframe-title::before{
            text-align: center;
            padding: 50px;
            position: -webkit-sticky;
        }
        iframe-allow{
            align-self: start;
            display: flexbox;
            animation: normal;
    
        }
    }
    margin: 0;
    padding: 0;
}
@font-feature-values{
    content: "device-width";
    inline-size: 1;
}
:root{
 --o-animation: alternate;
 --a-padding:left;
 --a-padding-border:12px;
 --h1-color: blue;
 --p-font-size: large;
 --img-src: url(" ");
 --td-font: system-ui;
 --colgroup-width: max;
 --colgroups-height: max;
   
}
h1,p{
  font-size: largest;
  font-family: system-ui;
}
p.h1{
  color: green;
  font-size: larger;
}{
img-src
   width: 50px;
   height: 50px;
}
table{
   --td-font
    border: solid;
    align:  center;
    font-size: large;
    --colgroup-width
    --colgroup-height
            
}
td.table{
    align:center-left;
    valign: top-middle;
    background-color: "#D6DCE4";
    border-top: 1px solid;
    border-left: 1px solid;
    sdval:1: 
    sdnum:1040;0;0
    height: var(38px-71px);
}

